.header {
    background-color: #ffffff;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #dedede;
    z-index: 100;
}
.left_section {
    display: flex;
    align-items: center;
}
.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo {
    height: 20px;
}
.middle_section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 560px;
    display: flex;
    align-items: center;
}
.search_bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px #0000000d;
    width: 0;
}
.search_bar::placeholder {
    font-size: 16px;
}
.search_button {
    height: 40px;
    width: 66px;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
}
.search_button,
.voice_search_button,
.upload_icon_container,
.youtube_apps_icon_container,
.notifications_icon_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_button .tooltip,
.voice_search_button .tooltip,
.upload_icon_container .tooltip,
.youtube_apps_icon_container .tooltip,
.notifications_icon_container .tooltip {
    position: absolute;
    padding: 4px 8px;
    background-color: gray;
    color: #ffffff;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search_button:hover .tooltip,
.voice_search_button:hover .tooltip,
.upload_icon_container:hover .tooltip,
.youtube_apps_icon_container:hover .tooltip,
.notifications_icon_container:hover .tooltip {
    background-color: #808080;
    opacity: 1;
}
.search_icon {
    height: 25px;
}
.voice_search_button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: #F9f9f9;
}
.voice_search_icon {
    height: 24px;
}
.right_section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload_icon {
    height: 24px;
}
.youtube_apps_icon {
    height: 24px;
}
.notifications_icon {
    height: 24px;
}
.notifications_count {
    position: absolute;
    background-color: #cc0000;
    color: #ffffff;
    font-size: 10px;
    padding: 1px 5px;
    border-radius: 20px;
    top: -3px;
    right: -6px;
}
.current_youtube_user {
    height: 32px;
    border-radius: 16px;
}