.thumbnail_row {
    margin-bottom: 8px;
    position: relative;
}
.video_info_grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel_pictures {
    margin-right: 10px;
}
.profile_picture {
    width: 36px; 
    border-radius: 50px;
 }
.thumbnail {
    width: 100%;
}
.video_heading {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.channel_name, .view_count {
    font-size: 12px;
    color: #606060;
}
.channel_name {
    margin-bottom: 5px;
}
.video_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 50px;
}
@media (max-width: 850px) {
    .video_grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:851px) and (max-width:1099px) {
    .video_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1100px) {
    .video_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video_time {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    border-radius: 2px;
}